* {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
}
/*==============HEADER=================*/
.header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #ccc;
  background-color: #ffffff;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  margin-right: 2rem;
  margin-left: .5rem;
}
.header-nav-link {
  text-decoration: none;
  font-family: "Fira Sans";
  margin-left: 1.3rem;
  margin-right: .5rem;
  font-size: 1rem;
  line-height: 1;
  text-align: left;
  color: #3e4247;
}

/*================HEADLINE=================*/
.complexes-headline {
  padding: 0;
}
.complexes-headline-title {
  font-family: Philosopher;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.13;
  text-align: left;
  color: #3e4247;

  margin-left: .9rem;
  margin-top: 1.5rem;
}
.complexes-headline-text {
  font-family: Fira Sans;
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.57;
  text-align: left;
  color: #a9afb6;

  margin-top: -.8rem;
  margin-left: 1rem;
}
.headline-button-wrap {
  position: relative;
}
.headline-button {
  position: absolute;
  right: 1.15rem;
  bottom: 3.5rem;

  border-radius: 2px;
  border: solid 1px #e0e0e1;
  outline: none;
  font-family: Fira Sans;
  font-size: .6rem;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  color: #00779a;
  background: #f2f2f2;

  padding: .4rem .8rem;
}
/*===============HERO SECTION=================*/
.complexes-hero-wrap {
  display: flex;
  flex-direction: row;
}
.hero-image {

}
.hero-button-wrap {
  position: relative;
}
.hero-button {
  position: absolute;
  bottom: 1.1rem;
  left: 8.3rem;
  border-radius: 2px;
  background-color: #00779a;
  border: none;
  outline: none;
  color: #fff;
  font-family: Fira Sans;
  font-size: .6rem;
  font-weight: 300;
  line-height: 1;
  text-align: left;

  padding: .5rem 1rem;
}
/*===================COMPLEXES-Info===============*/
.complexes-info {
  padding: .3rem 3rem;
}
.complexes-info {
  margin-left: 2.2rem;
}
.complexes-info-wrap {
  display: flex;
  justify-content: flex-start;

  border-bottom: solid 2px #e0e0e1;
}
.complexes-info-title {
  font-family: Philosopher;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3;
  text-align: left;
  color: #3e4247;

}
.complexes-info-title:nth-child(2) {
  margin-left: 2.6rem;
}
.complexes-info-title:nth-child(3) {
  margin-left: 4.7rem;
}
.complexes-info-small {
  font-family: Fira Sans;
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.57;
  text-align: left;
  color: #a9afb6;

  margin-top: -1rem;
}
/*==============complexes-DESCRIPTION=============*/
.complexes-description {
  padding-left: 1.8rem;
}
.complexes-description-table {
  display: flex;
  justify-content: row;

  padding-top: 0rem;
}
.complexes-description-title {
   font-family: Philosopher;
   font-size: 1.5rem;
   font-weight: bold;
   line-height: 1.93;
   text-align: left;
   color: #3e4247;
}
.description-table-label {
  width: 50%;
  margin-right: -3rem;

  font-family: Fira Sans;
  font-size: 1rem;
  line-height: 1.3;
  text-align: left;
  color: #a9afb6;
}
.description-table-defin {
  font-family: Fira Sans;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
  text-align: left;
  color: #3e4247;
}
/*=================Extra-DESCRIPTION===========*/
.complexes-extra-desc-row {
  border-bottom: solid 2px #e0e0e1 ;
}
.complexes-extra-desc {
  padding-top: 0rem;
}
.extra-desc-title {
 font-family: Philosopher;
 font-size: 1.5rem;
 font-weight: bold;
 line-height: 1.13;
 text-align: left;
 color: #3e4247;

 margin-left: 1rem;
 margin-top: 0rem;
}
.extra-desc-text {
 font-family: "Fira Sans";
 font-size: 1rem;
 line-height: 1.6;
 text-align: left;
 color: #3e4247;

 margin-top: 0rem;
 margin-left: .7rem;
 padding-bottom: 0rem;
}
/*=======================infrastructure=============*/
.complexes-infra-title {
  font-family: Philosopher;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.13;
  text-align: left;
  color: #3e4247;
  padding-top: rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
.complexes-infra-text {
  font-family: Fira Sans;
  font-size: 1rem;
  line-height: 1.38;
  text-align: left;
  color: #3e4247;

  margin-left: 1rem;
  margin-top: -.4rem;
}
.infra-row {
  padding-right: 2rem;
  padding-bottom: 2.8rem;
}
/*============OFFERS==============*/
.complexes-offers {
  background-color: #f4f5f9;

  padding: 3rem 0 5.8rem;
}
.complexes-offers-item {
  background: #fff;

  padding: 1rem 2.9rem;
}
.complexes-offers-title {
  font-family: Philosopher;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.13;
  text-align: center;
  color: #3e4247;
}
.offers-item-title {
  font-family: Philosopher;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.1;
  text-align: left;
  color: #3e4247;
  word-spacing: .2rem;
}
.offers-item-label {
  font-family: Fira Sans;
  font-size: 1rem;
  line-height: 1.38;
  text-align: left;
  color: #a9afb6;
}
.offers-item-value {
  font-family: Fira Sans;
  font-size: 1rem;
  line-height: 1.38;
  text-align: left;
  color: #3e4247;
}
.offers-item-button {
  display: block;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  font-family: Fira Sans;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  color: #ffffff;
}
/*==============complexes-guide=============*/
.complexes-guide {
  padding: 4.8rem 0rem;
  padding-bottom: 10rem;


  background-color: #3e4247;
}
.complexes-guide-title {
  margin-top: 7.2rem;
  margin-left: 1rem;
  font-family: Philosopher;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  color: #a9afb6;
}
.complexes-guide-subheading {
  margin-left: 1rem;
  font-family: Philosopher;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #ffffff;

}
.complexes-guide-link {
  text-decoration: none;
  font-family: Fira Sans;
  font-size: 1rem;
  text-align: left;
  color: #00779a;

  margin-left: 1rem;
}
.complexes-guide-img {
  width: 583px;
  height: 560px;
}
/*=============COMPLEXES-ADDReSS===============*/
.complexes-address-row {
  margin-left: .6rem;
  margin-right: .4em;
}
.complexes-address-map {
  position: relative;
  margin-top: -6.4rem;
  margin-bottom: 4rem;
  width: 583px;
  height: 306px;
}
.complexes-address-points {
  position: relative;
  margin-top: -6.4rem;
  margin-bottom: 4rem;

  background: #ffffff;
}
.complexes-address-points, .complexes-address-map {
  box-shadow: 0 0 20px rgba(0,0,0,.5);
}
.complexes-address-point {
  padding: 0 1.5rem .2rem;
  box-sizing: border-box;
  border-bottom: solid 2px #e0e0e1;

  display: flex;
  flex-flow: column wrap;
}
.address-point-title {
  margin-top: 1.3rem;
  margin-bottom: 0rem;
  font-family: Fira Sans;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.38;
  text-align: left;
  color: #3e4247;
}
.address-point-text {
  font-family: Fira Sans;
  font-size: 1rem;
  line-height: 1.38;
  text-align: left;
  color: #a9afb6;

}

/*=======================FOOTER================*/
.footer {
  background-color: #111111;
  padding: 1.8rem 0rem ;
  padding-left: .4rem;
}
.footer-line {
  margin-top: 0rem;
  margin-left: -.7rem;
}
.footer-contacts-text {
  line-height: 1;
  font-family: "Fira Sans";
  font-size: .9rem;
  font-weight: 300;
  text-align: left;
  color: #a9afb6;
  opacity: .7;

  margin-left: 0rem;

}
.footer-contacts-number {
  font-family: "Fira Sans";
  font-size: .9rem;
  font-weight: 300;
  text-align: left;
  color: #a9afb6;
  opacity: .7;

  margin-top: 1.5rem;
  margin-left: .5rem;
}
.footer-link {
  display: block;
  font-family: "Fira Sans";
  font-size: .9rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: #f3f3f3;
  opacity: .7;

  margin-top: .5rem;
  margin-left: rem;
}
.footer-contacts-title {
  margin-bottom: .5rem;
  margin-left: 0rem;

  padding-top: 0rem;
  color: #646971;
  font-family: "Fira Sans";
  font-size: .9rem;
  font-weight: bold;
  text-align: left;
}
.footer-contacts-title:nth-child(1) {
  margin-top: 0rem;
}
.footer-link-arrow {
  margin-left: .4rem;
}
.footer-text-copyright {
  margin-top: 6.0rem;
  margin-left: -.1rem;
  line-height: 1.7;
  font-family: "Fira Sans";
  font-size: 11px;
  font-weight: 300;
  text-align: left;
  color: #a9afb6;
}
.footer-contacts-title:nth-child(1) {
  margin-left:.5rem;
}
.footer-contacts-text:nth-child(2),
.footer-contacts-text:nth-child(3){
  margin-top: 1rem;
  margin-left: .51rem;
}
