* {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
}
/*==============HEADER=================*/
.header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #ccc;
  background-color: #ffffff;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  margin-right: 2rem;
}
.header-nav-link {
  text-decoration: none;
  font-family: "Fira Sans";
  margin-left: 1.8rem;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: #3e4247;
}
/*================HEADLINE=================*/
.complexes-headline {
  padding: 1.25rem 0;
}
.complexes-headline-title {
  margin: 0;
  font-family: Philosopher;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.13;
  text-align: left;
  color: #3e4247;
}
.complexes-headline-text {
  font-family: Fira Sans;
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.57;
  text-align: left;
  color: #a9afb6;
}
/*===============HERO SECTION=================*/
.complexes-hero-wrap {
  display: flex;
  flex-direction: row;
}
.hero-image {
  height: 25rem;
  width: auto;
}
/*===================COMPLEXES-Info===============*/
.complexes-info {
  padding: 1rem 0;
}
.complexes-info-wrap {
  display: flex;
  justify-content: flex-start;

  border-bottom: solid 2px #e0e0e1;
}
.complexes-info-title {
  font-family: Philosopher;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  color: #3e4247;
}
.complexes-info-title:nth-child(2) {
  margin-left: 2.5rem;
}
.complexes-info-title:nth-child(3) {
  margin-left: 4.7rem;
}
.complexes-info-small {
  font-family: Fira Sans;
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.57;
  text-align: left;
  color: #a9afb6;
}
/*==============complexes-DESCRIPTION=============*/
.complexes-description-table {
  display: flex;
  justify-content: row;

  margin-top: 0;
  padding: 0;
}
.complexes-description-title {
   font-family: Philosopher;
   font-size: 1.5rem;
   font-weight: bold;
   line-height: 1.13;
   text-align: left;
   color: #3e4247;

   margin-bottom: 1rem;
}
.description-table-label {
  width: 50%;


  font-family: Fira Sans;
  font-size: 1rem;
  line-height: 1.38;
  text-align: left;
  color: #a9afb6;
}
.description-table-defin {
  margin-left: 0rem;
  margin-right: 1rem;
  font-family: Fira Sans;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.56;
  text-align: left;
  color: #3e4247;
}
/*=================Extra-DESCRIPTION===========*/
.complexes-extra-desc {

}
.complexes-extra-desc-row {
  border-bottom: solid 2px #e0e0e1 ;
}
.extra-desc-title {
 font-family: Philosopher;
 font-size: 1.5rem;
 font-weight: bold;
 line-height: 1.13;
 text-align: left;
 color: #3e4247;
}
.extra-desc-text {
 font-family: "Fira Sans";
 font-size: 1rem;
 line-height: 1.56;
 text-align: left;
 color: #3e4247;
}
/*=======================infrastructure=============*/
.complexes-infra {
  margin: 0;
  padding: 0;
}
.complexes-infra-title {
  font-family: Philosopher;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.13;
  text-align: left;
  color: #3e4247;

  margin-bottom: 0;
  margin-top: 2rem;
}
.complexes-infra-text {
  font-family: Fira Sans;
  font-size: 1rem;
  line-height: 1.38;
  text-align: left;
  color: #3e4247;
}


























/*=======================FOOTER================*/
.footer {
  background-color: #111111;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer-line {
  border: solid 1px #3e4247;
}
.footer-contacts-text {
  line-height: 1;
  font-family: "Fira Sans";
  font-size: .9rem;
  font-weight: 300;
  text-align: left;
  color: #a9afb6;
  opacity: .7;
}




.footer-contacts-number {
  font-family: "Fira Sans";
  font-size: .9rem;
  font-weight: 300;
  text-align: left;
  color: #a9afb6;
  margin-top: 1rem;
  opacity: .7;
}
.footer-link {
  display: block;
  margin-bottom: 0;
  margin-top: .5rem;
  font-family: "Fira Sans";
  font-size: .9rem;
  line-height: 1.3rem;
  font-weight: 300;
  color: #f3f3f3;
  opacity: .7;
}
.footer-contacts-title {
  color: #646971;
  font-family: "Fira Sans";
  font-size: .9rem;
  font-weight: bold;
  text-align: left;
}
.footer-link-arrow {
  margin-left: .5rem;
}
.footer-text-copyright {
  margin-top: 6.5rem;
  line-height: 1.5;
  font-family: "Fira Sans";
  font-size: 11px;
  font-weight: 300;
  text-align: left;
  color: #a9afb6;
}
