* {
  text-decoration: none;
}
body {

  background-image: url("img/background.png");
  background-repeat: repeat;
  background-color: #f2f2f2;
}
.header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #ccc;
  background-color: #ffffff;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  margin-right: 2rem;
  margin-left: .5rem;
}
.header-nav-link {
  text-decoration: none;
  font-family: "Fira Sans";
  margin-left: 1.3rem;
  margin-right: .5rem;
  font-size: 1rem;
  line-height: 1;
  text-align: left;
  color: #3e4247;
}

/*=============Compass-develop=============*/
.compass-develop {
  padding: 5rem;
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
}
.compass-develop-logo {
  width:418.9px;
  height: 131px;
}
/*====================compass contact=================*/
.compass-contact-wrap {
  padding: 2.9rem 0rem;
  text-align: center;
}
.compass-contact-title {
  text-transform: capitalize;
  font-family: "Fira Sans";
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #3e4247;

  margin-right: .9rem;
}
.compass-contact-wrap p {
  font-family: "Fira Sans";
  font-size: 1rem;
  line-height: 1.4;
  text-align: center;
  color: #3e4247;
  margin-top: -.3rem;
}
.compass-contact-button {
  padding: .8rem 2rem;
  text-transform: capitalize;
  border-radius: 2px;
  background-color: #000000;
  font-family: "Fira Sans";
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  outline: none;
}
/*==============compass cards==============*/
.compass-card-link {
  display: flex;
  flex-direction: row;

  margin-left: .5rem;
  margin-top: 1rem;
  margin-bottom: 2.8rem;

  background-color: #ffffff;
  border-bottom: 3px solid #ccc;
}
.compass-card-link:hover {
  box-shadow: 0px 0px 20px rgba(0,0,0,.3);
}
.compass-card-img {
  flex-shrink: 0;
}
.compass-card-info {
  padding: 0rem 2rem;
}
.compass-cards {
  margin-bottom: 6rem;
}
.compass-card-location {
 font-family: Monaco, Menlo, Consolas, monospace;
 font-size: 1.1rem;
 text-transform: uppercase;
 color: #646971;
}
.compass-card-title {
  margin-top: 1.9rem;
  margin-bottom: 2rem;

  text-transform: capitalize;
  font-family: "Fira Sans";
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  color: #000000;
}
.compass-card-description {
  margin-top: -1.5rem;
  font-family: "Fira Sans";
  font-size: 1rem;
  line-height: 1.6;
  text-align: left;
  color: #3e4247;
}
/*================FOOTER===============*/
.footer {
  background-color: #111111;
  padding: 1.8rem 0rem;
  padding-left: .4rem;
}
.footer-line {
  border: solid 1px #3e4247;
}
.footer-contacts-text {
  line-height: 1;
  font-family: "Fira Sans";
  font-size: .9rem;
  font-weight: 300;
  text-align: left;
  color: #a9afb6;
  opacity: .7;

  margin-left: 0rem;

}
.footer-contacts-number {
  font-family: "Fira Sans";
  font-size: .9rem;
  font-weight: 300;
  text-align: left;
  color: #a9afb6;
  opacity: .7;

  margin-top: 1.5rem;
  margin-left: 0rem;
}
.footer-link {
  display: block;
  font-family: "Fira Sans";
  font-size: .9rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: #f3f3f3;
  opacity: .7;

  margin-top: .5rem;
  margin-left: rem;
}
.footer-contacts-title {
  margin-bottom: .5rem;
  margin-left: 0rem;

  padding-top: 0rem;
  color: #646971;
  font-family: "Fira Sans";
  font-size: .9rem;
  font-weight: bold;
  text-align: left;
}
.footer-contacts-title:nth-child(1) {
  margin-top: 0rem;
}
.footer-link-arrow {
  margin-left: .4rem;
}
.footer-text-copyright {
  margin-top: 6rem;
  line-height: 1.5;
  font-family: "Fira Sans";
  font-size: 11px;
  font-weight: 300;
  text-align: left;
  color: #a9afb6;
}
