.header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: solid 1px #eaebf0;
  background-color: #ffffff;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  margin-right: 2rem;
  margin-left: .5rem;
}
.header-nav-link {
  text-decoration: none;
  font-family: "Fira Sans";
  margin-left: 1.3rem;
  margin-right: .5rem;
  font-size: 1rem;
  line-height: 1;
  text-align: left;
  color: #3e4247;
}

/*================FOOTER===============*/
.footer {
  padding-top: 1.4rem;
  padding-bottom: 2rem;
  background-color: #111111;
  color: #a9afb6;
  font-family: "Fira Sans";
}
.footer-contacts-title {
  margin: 0;
  margin-bottom: 0.9rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  color: #646971;
}
.footer-contacts-text {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: 300;
  color: #a9afb6;
}
.footer-contacts-number {
  margin-top: 1.2rem;
  font-size: 0.875rem;
}
.footer-nav {
  padding-top: 1rem;
  border-top: solid 2px #3e4247;
}
.footer-link {
  display: block;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}
.footer-link-arrow {
  margin-left: .15rem;
}
.footer-link-last {
  margin-top: 1.2rem;
}
.footer-text-copyright {
  padding-top: 4.2rem;
  font-size: 0.6875rem;
  font-weight: 300;
  line-height: 1.6;
  color: #a9afb6;

  margin-top: 1rem;
}