body {
  background-size: 100%;
  background-color: #eaebf0;
  background-repeat: repeat;
  background-image: url("%PUBLIC_URL%/img/background.png");
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
}
